<% include ./partials/header %>
<div class="row">
    <div clas="col-md-12">
        <form action="/forgot" method="post">
			<legend>
				Forgot password
			</legend>
            <div class="form-group">
                <input class="form-control" type="email" name="email" autofocus>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Reset password">
            </div>
        </form>
        <a href="/campgrounds">Go Back</a>
    </div>
</div>
<% include ./partials/footer %>